/* MOBILE */

.menu-btn{
display:none;
font-size:30px;
cursor:pointer;
color:white;
}

@media (max-width:768px){

/* NAVBAR */

nav{
display:flex;
justify-content:space-between;
align-items:center;
flex-wrap:wrap;
padding:15px 20px;
}

.menu-btn{
display:block;
}

nav ul{
display:none;
width:100%;
flex-direction:column;
text-align:center;
margin-top:15px;
gap:15px;
}

nav ul.active{
display:flex;
}

/* HERO */

.hero h1{
font-size:3rem;
}

.hero p{
font-size:1rem;
}

/* IMAGE + TEXT SECTIONS */

.hero-info{
flex-direction:column;
text-align:center;
}

.hero-info img,
.image-box img{
width:90%;
max-width:350px;
}

/* STATS */

.stats{
flex-direction:column;
align-items:center;
}

.card{
width:90%;
}

/* DATABASE PAGES */

.database{
grid-template-columns:1fr !important;
}

.villain-list{
width:100%;
}

.intel-panel{
width:100%;
}

/* TEAM PAGE */

.team-list{
width:100%;
}

/* NEWS CARDS */

.news-container{
grid-template-columns:1fr;
}

.news-card{
width:100%;
}

/* FORMS */

.container{
width:95%;
padding:10px;
}

form{
width:100%;
}

/* IMAGES */

img{
max-width:100%;
height:auto;
}

/* FOOTER */

footer{
text-align:center;
padding:20px;
}

}
